@import url(
	https://fonts.googleapis.com/css?family=Inter:100,
	200,
	300,
	regular,
	500,
	600,
	700,
	800,
	900
);

* {
	box-sizing: border-box;
}

.emoji {
	margin: 0 1rem;
	display: inline-block;
	width: auto;
	height: 1em;
	vertical-align: -0.125em;
}

hr {
	border: 1px solid rgb(243, 243, 243);
}

@media screen and (max-width: 435px) {
	.headingContainer {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.headingName {
		visibility: hidden;
		display: none;
	}
}
